<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active">
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
    <h3 class="text-muted">mr mundial</h3>
</div>

<div id="partidos">

    <tabset justified=true>
        <tab heading="A">
            <!-- <partidos grupo="A"> </partidos> -->
            <div class="row partido" ng-repeat="partido in partidos.A">
                <!-- <partido equipos="partido.equipos" resultado="partidos.A[$index].resultado"> -->
                <div class="input-group">
                    <input ng-model="partidos.A[$index].resultado[0]" type="number" class="form-control resultado">
                    <span class="input-group-addon equipo">{{partido.equipos[0].nombre}}</span>
                    <span class="input-group-addon equipo">{{partido.equipos[1].nombre}}</span>
                    <input ng-model="partidos.A[$index].resultado[1]" type="number" class="form-control resultado">
                </div>
            </div>

            <div id="autocompletar" class="btn-group btn-group-justified">
                <a ng-click="autoCompletarGrupo('A')" class="btn btn-primary btn-lg active completar-grupo" role="button">Completar Grupo</a>
                <a ng-click="autoCompletarGrupos()" class="btn btn-default btn-lg active completar-grupos" role="button">Completar Grupos</a>
            </div>

        </tab>
        <tab heading="B">
            <div class="row partido" ng-repeat="partido in partidos.B">
                <div class="input-group">
                    <input ng-model="partidos.B[$index].resultado[0]" type="number" class="form-control resultado">
                    <span class="input-group-addon equipo">{{partido.equipos[0].nombre}}</span>
                    <span class="input-group-addon equipo">{{partido.equipos[1].nombre}}</span>
                    <input ng-model="partidos.B[$index].resultado[1]" type="number" class="form-control resultado">
                </div>
            </div>

            <div id="autocompletar" class="btn-group btn-group-justified">
                <a ng-click="autoCompletarGrupo('B')" class="btn btn-primary btn-lg active completar-grupo" role="button">Completar Grupo</a>
                <a ng-click="autoCompletarGrupos()" class="btn btn-default btn-lg active completar-grupos" role="button">Completar Grupos</a>
            </div>

        </tab>
        <tab heading="C">Vertical content 1</tab>
        <tab heading="D">Vertical content 1</tab>
        <tab heading="E">Vertical content 2</tab>
        <tab heading="F">Vertical content 2</tab>
        <tab heading="G">Vertical content 1</tab>
        <tab heading="H">Vertical content 2</tab>
    </tabset>

</div>

<div class="footer">
    <p>♥ from the Yeoman team</p>
</div>
