<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active">
            <a href="#" class="glyphicon glyphicon-arrow-left"></a>
        </li>
        <li>
            <a id="llaves" href="#/llaves" class="glyphicon glyphicon-arrow-right"></a>
        </li>
    </ul>
    <h3 class="text-muted">mr mundial</h3>
</div>

<div id="partidos">

    <tabset justified=true>
        <tab heading="A">

            <!-- <partidos grupo="A"> </partidos> -->
            <div class="row partido" ng-repeat="partido in partidos.A">
                <!-- <partido equipos="partido.equipos" resultado="partidos.A[$index].resultado"> -->
                <div class="input-group">
                    <input ng-model="partidos.A[$index].resultado[0]" type="number" class="form-control resultado">
                    <span class="input-group-addon equipo">{{partido.equipos[0].nombre}}</span>
                    <span class="input-group-addon equipo">{{partido.equipos[1].nombre}}</span>
                    <input ng-model="partidos.A[$index].resultado[1]" type="number" class="form-control resultado">
                </div>
            </div>

            <div id="autocompletar" class="btn-group btn-group-justified">
                <a ng-click="autoCompletarGrupo('A')" class="btn btn-primary btn-lg active completar-grupo" role="button">Completar Grupo</a>
                <a ng-click="autoCompletarGrupos()" class="btn btn-default btn-lg active completar-grupos" role="button">Completar Grupos</a>
            </div>

        </tab>
        <tab heading="B">

            <div class="row partido" ng-repeat="partido in partidos.B">
                <div class="input-group">
                    <input ng-model="partidos.B[$index].resultado[0]" type="number" class="form-control resultado">
                    <span class="input-group-addon equipo">{{partido.equipos[0].nombre}}</span>
                    <span class="input-group-addon equipo">{{partido.equipos[1].nombre}}</span>
                    <input ng-model="partidos.B[$index].resultado[1]" type="number" class="form-control resultado">
                </div>
            </div>

            <div id="autocompletar" class="btn-group btn-group-justified">
                <a ng-click="autoCompletarGrupo('B')" class="btn btn-primary btn-lg active completar-grupo" role="button">Completar Grupo</a>
                <a ng-click="autoCompletarGrupos()" class="btn btn-default btn-lg active completar-grupos" role="button">Completar Grupos</a>
            </div>

        </tab>
        <tab heading="C">

            <div class="row partido" ng-repeat="partido in partidos.C">
                <div class="input-group">
                    <input ng-model="partidos.C[$index].resultado[0]" type="number" class="form-control resultado">
                    <span class="input-group-addon equipo">{{partido.equipos[0].nombre}}</span>
                    <span class="input-group-addon equipo">{{partido.equipos[1].nombre}}</span>
                    <input ng-model="partidos.C[$index].resultado[1]" type="number" class="form-control resultado">
                </div>
            </div>

            <div id="autocompletar" class="btn-group btn-group-justified">
                <a ng-click="autoCompletarGrupo('C')" class="btn btn-primary btn-lg active completar-grupo" role="button">Completar Grupo</a>
                <a ng-click="autoCompletarGrupos()" class="btn btn-default btn-lg active completar-grupos" role="button">Completar Grupos</a>
            </div>

        </tab>
        <tab heading="D">

            <div class="row partido" ng-repeat="partido in partidos.D">
                <div class="input-group">
                    <input ng-model="partidos.D[$index].resultado[0]" type="number" class="form-control resultado">
                    <span class="input-group-addon equipo">{{partido.equipos[0].nombre}}</span>
                    <span class="input-group-addon equipo">{{partido.equipos[1].nombre}}</span>
                    <input ng-model="partidos.D[$index].resultado[1]" type="number" class="form-control resultado">
                </div>
            </div>

            <div id="autocompletar" class="btn-group btn-group-justified">
                <a ng-click="autoCompletarGrupo('D')" class="btn btn-primary btn-lg active completar-grupo" role="button">Completar Grupo</a>
                <a ng-click="autoCompletarGrupos()" class="btn btn-default btn-lg active completar-grupos" role="button">Completar Grupos</a>
            </div>
        </tab>
        <tab heading="E">

            <div class="row partido" ng-repeat="partido in partidos.E">
                <div class="input-group">
                    <input ng-model="partidos.E[$index].resultado[0]" type="number" class="form-control resultado">
                    <span class="input-group-addon equipo">{{partido.equipos[0].nombre}}</span>
                    <span class="input-group-addon equipo">{{partido.equipos[1].nombre}}</span>
                    <input ng-model="partidos.E[$index].resultado[1]" type="number" class="form-control resultado">
                </div>
            </div>

            <div id="autocompletar" class="btn-group btn-group-justified">
                <a ng-click="autoCompletarGrupo('E')" class="btn btn-primary btn-lg active completar-grupo" role="button">Completar Grupo</a>
                <a ng-click="autoCompletarGrupos()" class="btn btn-default btn-lg active completar-grupos" role="button">Completar Grupos</a>
            </div>

        </tab>
        <tab heading="F">

            <div class="row partido" ng-repeat="partido in partidos.F">
                <div class="input-group">
                    <input ng-model="partidos.F[$index].resultado[0]" type="number" class="form-control resultado">
                    <span class="input-group-addon equipo">{{partido.equipos[0].nombre}}</span>
                    <span class="input-group-addon equipo">{{partido.equipos[1].nombre}}</span>
                    <input ng-model="partidos.F[$index].resultado[1]" type="number" class="form-control resultado">
                </div>
            </div>

            <div id="autocompletar" class="btn-group btn-group-justified">
                <a ng-click="autoCompletarGrupo('F')" class="btn btn-primary btn-lg active completar-grupo" role="button">Completar Grupo</a>
                <a ng-click="autoCompletarGrupos()" class="btn btn-default btn-lg active completar-grupos" role="button">Completar Grupos</a>
            </div>

        </tab>
        <tab heading="G">

            <div class="row partido" ng-repeat="partido in partidos.G">
                <div class="input-group">
                    <input ng-model="partidos.G[$index].resultado[0]" type="number" class="form-control resultado">
                    <span class="input-group-addon equipo">{{partido.equipos[0].nombre}}</span>
                    <span class="input-group-addon equipo">{{partido.equipos[1].nombre}}</span>
                    <input ng-model="partidos.G[$index].resultado[1]" type="number" class="form-control resultado">
                </div>
            </div>

            <div id="autocompletar" class="btn-group btn-group-justified">
                <a ng-click="autoCompletarGrupo('G')" class="btn btn-primary btn-lg active completar-grupo" role="button">Completar Grupo</a>
                <a ng-click="autoCompletarGrupos()" class="btn btn-default btn-lg active completar-grupos" role="button">Completar Grupos</a>
            </div>

        </tab>
        <tab heading="H">

            <div class="row partido" ng-repeat="partido in partidos.H">
                <div class="input-group">
                    <input ng-model="partidos.H[$index].resultado[0]" type="number" class="form-control resultado">
                    <span class="input-group-addon equipo">{{partido.equipos[0].nombre}}</span>
                    <span class="input-group-addon equipo">{{partido.equipos[1].nombre}}</span>
                    <input ng-model="partidos.H[$index].resultado[1]" type="number" class="form-control resultado">
                </div>
            </div>

            <div id="autocompletar" class="btn-group btn-group-justified">
                <a ng-click="autoCompletarGrupo('H')" class="btn btn-primary btn-lg active completar-grupo" role="button">Completar Grupo</a>
                <a ng-click="autoCompletarGrupos()" class="btn btn-default btn-lg active completar-grupos" role="button">Completar Grupos</a>
            </div>

        </tab>
    </tabset>

</div>

<div class="footer">
    <p>Celeste y blanca ♥</p>
</div>
